In [24]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Advanced Tables
## Why are databases so complex?

* Data stored in a database may be split into multiple _tables_, each containing multiple _columns_. A column stores a single attribute of the data; a table stores a collection of related attributes.
* The database also keeps track of the relationships between different tables. 
* Databases are designed to minimize redundancy and maintain data integrity, particularly when data is added, changed, or deleted.

    1. Consistency when updating: no duplicate places for information https://en.wikipedia.org/wiki/Database_normalization
    2. Performance https://en.wikipedia.org/wiki/Star_schema
    
* Side note: you may also have to think about _isolation level_ when working with a database where someone may be updating data as you're trying to read it. The _isolation level_ determines the database read behavior in this situation. See https://en.wikipedia.org/wiki/Isolation_(database_systems).

## Working with multiple tables

* Two tables can be joined at a time. 'Join' is a binary operator. See https://en.wikipedia.org/wiki/Join_(SQL).
* Tables must have `key` values that can be matched. Usually one table has a `primary key` and the other table has a `foreign key`.


## Pandas

* Pandas allows "merge", "join", and "concatenate" operations. See http://pandas.pydata.org/pandas-docs/version/0.18.1/merging.html#merge-join-and-concatenate for additional reading.
* Pandas also allows reshaping and pivoting data tables, see http://pandas.pydata.org/pandas-docs/version/0.18.1/reshaping.html.


In this class, we will cover table joining, merging and concatenation. We will also go over using some of the time-series handling capabilities in Pandas.

In [25]:
import pandas as pd
import numpy as np

# Concatenating tables in Pandas

To introduce join operations, we will be working with the AdventureWorks dataset, a standard dataset from Microsoft SLQ Server for learing to work with databases. It contains data for the fictitious bicycle manufacturer (Adventure Works Cycles).

Let's starts by importing some tables from AdventureWorks in /home/data/AdventureWorks. These tables contain data on AdventureWorks employees, sales territories, customers, and orders placed by the customers.

In [101]:

    print(x)

(0,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
0         259      250.0          NaN   NaN       Ben          T   Miller

  Suffix JobTitle  NationalIDNumber      ...       SickLeaveHours  \
0    NaN    Buyer          20269531      ...                   47

    PhoneNumber PhoneNumberType              EmailAddress   AddressLine1  \
0  151-555-0113            Work  ben0@adventure-works.com  101 Candy Rd.

   AddressLine2     City StateProvinceName PostalCode    CountryName
0           NaN  Redmond        Washington      98052  United States

[1 rows x 26 columns])
(1,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
1         278      274.0          6.0   NaN   Garrett          R   Vargas

  Suffix              JobTitle  NationalIDNumber     ...     SickLeaveHours  \
1    NaN  Sales Representative         234474252     ...                 36

    PhoneNumber PhoneNumberType               EmailAddress  \
1  922-555-0165            Work  garrett1@mapleleafmail.ca

         AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
1  10203 Acorn Avenue           NaN  Calgary           Alberta    T2P 2G8

  CountryName
1      Canada

[1 rows x 26 columns])
(2,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
2         204       26.0          NaN   NaN      Gabe          B    Mares

  Suffix                      JobTitle  NationalIDNumber      ...        \
2    NaN  Production Technician - WC40         440379437      ...

  SickLeaveHours   PhoneNumber PhoneNumberType               EmailAddress  \
2             48  310-555-0117            Work  gabe0@adventure-works.com

          AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
2  1061 Buskrik Avenue           NaN  Edmonds        Washington      98020

     CountryName
2  United States

[1 rows x 26 columns])
(3,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
3          78       26.0          NaN   NaN    Reuben          H     D'sa

  Suffix                      JobTitle  NationalIDNumber      ...        \
3    NaN  Production Supervisor - WC40         370989364      ...

  SickLeaveHours   PhoneNumber PhoneNumberType                 EmailAddress  \
3             56  191-555-0112            Work  reuben0@adventure-works.com

           AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
3  1064 Slow Creek Road           NaN  Seattle        Washington      98104

     CountryName
3  United States

[1 rows x 26 columns])
(4,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
4         255      250.0          NaN   NaN    Gordon          L      Hee

  Suffix JobTitle  NationalIDNumber      ...       SickLeaveHours  \
4    NaN    Buyer         466142721      ...                   46

    PhoneNumber PhoneNumberType                 EmailAddress  \
4  230-555-0144            Cell  gordon0@adventure-works.com

         AddressLine1  AddressLine2      City StateProvinceName PostalCode  \
4  108 Lakeside Court           NaN  Bellevue        Washington      98004

     CountryName
4  United States

[1 rows x 26 columns])
(5,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
5          66       26.0          NaN   NaN     Karan          R   Khanna

  Suffix                      JobTitle  NationalIDNumber      ...        \
5    NaN  Production Technician - WC60         834186596      ...

  SickLeaveHours   PhoneNumber PhoneNumberType        EmailAddress  \
5             34  447-555-0186            Work  karan0@hotmail.com

     AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
5  1102 Ravenwood           NaN  Seattle        Washington      98104

     CountryName
5  United States

[1 rows x 26 columns])
(6,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName  LastName  \
6         270      263.0          NaN   NaN  François          P  Ajenstat

  Suffix                JobTitle  NationalIDNumber      ...        \
6    NaN  Database Administrator         643805155      ...

  SickLeaveHours   PhoneNumber PhoneNumberType         EmailAddress  \
6             53  785-555-0110            Cell  françois0@yahoo.com

        AddressLine1  AddressLine2      City StateProvinceName PostalCode  \
6  1144 Paradise Ct.           NaN  Issaquah        Washington      98027

     CountryName
6  United States

[1 rows x 26 columns])
(7,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName  \
7          22       16.0          NaN   NaN    Sariya          E

            LastName Suffix              JobTitle  NationalIDNumber  \
7  Harnpadoungsataya    NaN  Marketing Specialist          95958330

       ...       SickLeaveHours   PhoneNumber PhoneNumberType  \
7      ...                   42  399-555-0176            Work

                  EmailAddress       AddressLine1  AddressLine2     City  \
7  sariya0@adventure-works.com  1185 Dallas Drive           NaN  Everett

  StateProvinceName PostalCode    CountryName
7        Washington      98201  United States

[1 rows x 26 columns])
(8,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName  \
8         161       26.0          NaN   NaN      Kirk          J

       LastName Suffix                      JobTitle  NationalIDNumber  \
8  Koenigsbauer    NaN  Production Technician - WC45         275962311

       ...       SickLeaveHours   PhoneNumber PhoneNumberType  \
8      ...                   57  669-555-0150            Work

        EmailAddress       AddressLine1  AddressLine2     City  \
8  kirk0@hotmail.com  1220 Bradford Way           NaN  Seattle

  StateProvinceName PostalCode    CountryName
8        Washington      98104  United States

[1 rows x 26 columns])
(9,    EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
9         124      250.0          NaN   NaN       Kim          T    Ralls

  Suffix JobTitle  NationalIDNumber      ...       SickLeaveHours  \
9    NaN  Stocker         420776180      ...                   69

    PhoneNumber PhoneNumberType              EmailAddress   AddressLine1  \
9  309-555-0129            Work  kim0@adventure-works.com  1226 Shoe St.

   AddressLine2     City StateProvinceName PostalCode    CountryName
9           NaN  Bothell        Washington      98011  United States

[1 rows x 26 columns])
(10,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
10          10       25.0          NaN   NaN   Michael        NaN   Raheem

   Suffix                          JobTitle  NationalIDNumber      ...        \
10    NaN  Research and Development Manager         879342154      ...

   SickLeaveHours   PhoneNumber PhoneNumberType                  EmailAddress  \
10             64  330-555-2568            Work  michael6@adventure-works.com

        AddressLine1  AddressLine2           City StateProvinceName  \
10  1234 Seaside Way           NaN  San Francisco        California

   PostalCode    CountryName
10      94109  United States

[1 rows x 26 columns])
(11,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
11         248      249.0          NaN   NaN      Mike          K  Seamans

   Suffix    JobTitle  NationalIDNumber      ...       SickLeaveHours  \
11    NaN  Accountant         480951955      ...                   49

     PhoneNumber PhoneNumberType         EmailAddress    AddressLine1  \
11  927-555-0150            Work  mike0@safe-mail.net  1245 Clay Road

    AddressLine2   City StateProvinceName PostalCode    CountryName
11           NaN  Index        Washington      98256  United States

[1 rows x 26 columns])
(12,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
12         175       26.0          NaN   NaN      Reed          T     Koch

   Suffix                      JobTitle  NationalIDNumber      ...        \
12    NaN  Production Technician - WC30         259388196      ...

   SickLeaveHours   PhoneNumber PhoneNumberType       EmailAddress  \
12             31  678-555-0110            Work  reed0@hotmail.com

        AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
12  1275 West Street           NaN  Redmond        Washington      98052

      CountryName
12  United States

[1 rows x 26 columns])
(13,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName  LastName  \
13         155       26.0          NaN   NaN      Fadi          K  Fakhouri

   Suffix                      JobTitle  NationalIDNumber      ...        \
13    NaN  Production Technician - WC20         212801092      ...

   SickLeaveHours   PhoneNumber PhoneNumberType               EmailAddress  \
13             28  935-555-0116            Work  fadi0@adventure-works.com

              AddressLine1  AddressLine2       City StateProvinceName  \
13  1285 Greenbrier Street           NaN  Snohomish        Washington

   PostalCode    CountryName
13      98296  United States

[1 rows x 26 columns])
(14,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
14         144       26.0          NaN   NaN      Paul          R    Singh

   Suffix                      JobTitle  NationalIDNumber      ...        \
14    NaN  Production Technician - WC20         886023130      ...

   SickLeaveHours   PhoneNumber PhoneNumberType         EmailAddress  \
14             23  727-555-0112            Cell  paul1@safe-mail.net

        AddressLine1  AddressLine2      City StateProvinceName PostalCode  \
14  1343 Prospect St           NaN  Bellevue        Washington      98004

      CountryName
14  United States

[1 rows x 26 columns])
(15,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
15         192       26.0          NaN   NaN    Brenda          M     Diaz

   Suffix                      JobTitle  NationalIDNumber      ...        \
15    NaN  Production Supervisor - WC40         634335025      ...

   SickLeaveHours   PhoneNumber PhoneNumberType                 EmailAddress  \
15             55  142-555-0139            Work  brenda0@adventure-works.com

       AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
15  1349 Steven Way           NaN  Seattle        Washington      98104

      CountryName
15  United States

[1 rows x 26 columns])
(16,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
16         166       26.0          NaN   NaN      Jack          S  Richins

   Suffix                      JobTitle  NationalIDNumber      ...        \
16    NaN  Production Supervisor - WC30          60114406      ...

   SickLeaveHours   PhoneNumber PhoneNumberType               EmailAddress  \
16             54  552-555-0111            Work  jack0@adventure-works.com

      AddressLine1  AddressLine2    City StateProvinceName PostalCode  \
16  1356 Grove Way           NaN  Monroe        Washington      98272

      CountryName
16  United States

[1 rows x 26 columns])
(17,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
17         112       26.0          NaN   NaN      John          P    Evans

   Suffix                      JobTitle  NationalIDNumber      ...        \
17    NaN  Production Technician - WC50         981597097      ...

   SickLeaveHours   PhoneNumber PhoneNumberType     EmailAddress  \
17             65  172-555-0130            Cell  john1@gmail.com

        AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
17  136 Balboa Court           NaN  Seattle        Washington      98104

      CountryName
17  United States

[1 rows x 26 columns])
(18,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
18         203       26.0          NaN   NaN       Ken          L     Myer

   Suffix                      JobTitle  NationalIDNumber     ...      \
18    NaN  Production Technician - WC40         693168613     ...

   SickLeaveHours   PhoneNumber PhoneNumberType              EmailAddress  \
18             45  949-555-0174            Work  ken1@adventure-works.com

           AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
18  1362 Somerset Place           NaN  Calgary           Alberta    T2P 2G8

   CountryName
18      Canada

[1 rows x 26 columns])
(19,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName  LastName  \
19         245      249.0          NaN   NaN   Barbara          C  Moreland

   Suffix    JobTitle  NationalIDNumber      ...       SickLeaveHours  \
19    NaN  Accountant         363910111      ...                   49

     PhoneNumber PhoneNumberType                  EmailAddress  AddressLine1  \
19  822-555-0145            Cell  barbara1@adventure-works.com  137 Mazatlan

    AddressLine2     City StateProvinceName PostalCode    CountryName
19           NaN  Seattle        Washington      98104  United States

[1 rows x 26 columns])
(20,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
20         257      250.0          NaN   NaN      Eric          S   Kurjan

   Suffix JobTitle  NationalIDNumber      ...       SickLeaveHours  \
20    NaN    Buyer         381073001      ...                   47

     PhoneNumber PhoneNumberType       EmailAddress    AddressLine1  \
20  265-555-0195            Work  eric2@hotmail.com  1378 String Dr

    AddressLine2    City StateProvinceName PostalCode    CountryName
20           NaN  Renton        Washington      98055  United States

[1 rows x 26 columns])
(21,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
21         244      249.0          NaN   NaN     Bryan          A   Walton

   Suffix                        JobTitle  NationalIDNumber     ...      \
21    NaN  Accounts Receivable Specialist         931190412     ...

   SickLeaveHours   PhoneNumber PhoneNumberType    EmailAddress  \
21             51  935-555-0199            Work  bryan1@aol.com

         AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
21  1397 Paradise Ct.           NaN  Calgary           Alberta    T2P 2G8

   CountryName
21      Canada

[1 rows x 26 columns])
(22,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
22          69       26.0          NaN   NaN     Steve          F  Masters

   Suffix                      JobTitle  NationalIDNumber      ...        \
22    NaN  Production Technician - WC60         752513276      ...

   SickLeaveHours   PhoneNumber PhoneNumberType                EmailAddress  \
22             35  712-555-0170            Work  steve0@adventure-works.com

        AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
22  1398 Yorba Linda           NaN  Seattle        Washington      98104

      CountryName
22  United States

[1 rows x 26 columns])
(23,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
23         210       26.0          NaN   NaN   Belinda          M   Newman

   Suffix                      JobTitle  NationalIDNumber      ...        \
23    NaN  Production Technician - WC45          20244403      ...

   SickLeaveHours   PhoneNumber PhoneNumberType                  EmailAddress  \
23             61  319-555-0126            Cell  belinda0@adventure-works.com

            AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
23  1399 Firestone Drive           NaN  Bothell        Washington      98011

      CountryName
23  United States

[1 rows x 26 columns])
(24,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
24         163       26.0          NaN   NaN      Alex          M  Nayberg

   Suffix                      JobTitle  NationalIDNumber      ...        \
24    NaN  Production Technician - WC45         377784364      ...

   SickLeaveHours   PhoneNumber PhoneNumberType               EmailAddress  \
24             58  819-555-0198            Work  alex0@adventure-works.com

       AddressLine1  AddressLine2           City StateProvinceName PostalCode  \
24  1400 Gate Drive           NaN  Newport Hills        Washington      98006

      CountryName
24  United States

[1 rows x 26 columns])
(25,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
25         118       26.0          NaN   NaN       Don          L     Hall

   Suffix                      JobTitle  NationalIDNumber      ...        \
25    NaN  Production Technician - WC50         222400012      ...

   SickLeaveHours   PhoneNumber PhoneNumberType              EmailAddress  \
25             64  100-555-0174            Work  don0@adventure-works.com

        AddressLine1  AddressLine2       City StateProvinceName PostalCode  \
25  1411 Ranch Drive           NaN  Carnation        Washington      98014

      CountryName
25  United States

[1 rows x 26 columns])
(26,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName  LastName  \
26         176       26.0          NaN   NaN     David     Oliver  Lawrence

   Suffix                      JobTitle  NationalIDNumber      ...        \
26    NaN  Production Technician - WC30         860123571      ...

   SickLeaveHours   PhoneNumber PhoneNumberType                EmailAddress  \
26             34  118-555-0177            Work  david7@adventure-works.com

      AddressLine1  AddressLine2    City StateProvinceName PostalCode  \
26  158 Walnut Ave           NaN  Monroe        Washington      98272

      CountryName
26  United States

[1 rows x 26 columns])
(27,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName  \
27         147       26.0          NaN   NaN    Sandra        NaN

          LastName Suffix                      JobTitle  NationalIDNumber  \
27  Reátegui Alayo    NaN  Production Technician - WC30         604664374

        ...       SickLeaveHours   PhoneNumber PhoneNumberType  \
27      ...                   38  896-555-0168            Work

                   EmailAddress         AddressLine1  AddressLine2     City  \
27  sandra0@adventure-works.com  1619 Stillman Court           NaN  Seattle

   StateProvinceName PostalCode    CountryName
27        Washington      98104  United States

[1 rows x 26 columns])
(28,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
28         138       26.0          NaN   NaN  Samantha          H    Smith

   Suffix                      JobTitle  NationalIDNumber      ...        \
28    NaN  Production Technician - WC20          25011600      ...

   SickLeaveHours   PhoneNumber PhoneNumberType             EmailAddress  \
28             23  587-555-0114            Cell  samantha0@safe-mail.net

          AddressLine1  AddressLine2      City StateProvinceName PostalCode  \
28  1648 Eastgate Lane           NaN  Bellevue        Washington      98004

      CountryName
28  United States

[1 rows x 26 columns])
(29,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName   LastName  \
29          95       26.0          NaN   NaN       Jim          H  Scardelis

   Suffix                      JobTitle  NationalIDNumber      ...        \
29    NaN  Production Technician - WC50         674171828      ...

   SickLeaveHours   PhoneNumber PhoneNumberType        EmailAddress  \
29             20  679-555-0113            Work  jim0@safe-mail.net

       AddressLine1  AddressLine2     City StateProvinceName PostalCode  \
29  172 Turning Dr.           NaN  Edmonds        Washington      98020

      CountryName
29  United States

[1 rows x 26 columns])
(30,     EmployeeID  ManagerID  TerritoryID Title FirstName MiddleName LastName  \
30         231      227.0          NaN   NaN        Jo          L    Berry

   Suffix JobTitle  NationalIDNumber      ...       SickLeaveHours  \
30    NaN  Janitor         153479919      ...                   65

     PhoneNumber PhoneNumberType             EmailAddress     AddressLine1  \

In [26]:
Employees = pd.read_excel('/home/data/AdventureWorks/Employees.xls')
Territory = pd.read_excel('/home/data/AdventureWorks/SalesTerritory.xls')
Customers = pd.read_excel('/home/data/AdventureWorks/Customers.xls')
Orders = pd.read_excel('/home/data/AdventureWorks/ItemsOrdered.xls')

Let's take a look at the data we'll be working with:

In [27]:
Employees.head()

,EmployeeID,ManagerID,TerritoryID,Title,FirstName,MiddleName,LastName,Suffix,JobTitle,NationalIDNumber,...,SickLeaveHours,PhoneNumber,PhoneNumberType,EmailAddress,AddressLine1,AddressLine2,City,StateProvinceName,PostalCode,CountryName
0,259,250.0,NaN,NaN,Ben,T,Miller,NaN,Buyer,20269531,...,47,151-555-0113,Work,ben0@adventure-works.com,101 Candy Rd.,NaN,Redmond,Washington,98052,United States
1,278,274.0,6.0,NaN,Garrett,R,Vargas,NaN,Sales Representative,234474252,...,36,922-555-0165,Work,garrett1@mapleleafmail.ca,10203 Acorn Avenue,NaN,Calgary,Alberta,T2P 2G8,Canada
2,204,26.0,NaN,NaN,Gabe,B,Mares,NaN,Production Technician - WC40,440379437,...,48,310-555-0117,Work,gabe0@adventure-works.com,1061 Buskrik Avenue,NaN,Edmonds,Washington,98020,United States
3,78,26.0,NaN,NaN,Reuben,H,D'sa,NaN,Production Supervisor - WC40,370989364,...,56,191-555-0112,Work,reuben0@adventure-works.com,1064 Slow Creek Road,NaN,Seattle,Washington,98104,United States
4,255,250.0,NaN,NaN,Gordon,L,Hee,NaN,Buyer,466142721,...,46,230-555-0144,Cell,gordon0@adventure-works.com,108 Lakeside Court,NaN,Bellevue,Washington,98004,United States

In [28]:
Territory.head()

,TerritoryID,Name,CountryCode,Region,SalesYTD,SalesLastYear
0,1,Northwest,US,North America,7887186.79,3298694.49
1,2,Northeast,US,North America,2402176.85,3607148.94
2,3,Central,US,North America,3072175.12,3205014.08
3,4,Southwest,US,North America,10510853.87,5366575.71
4,5,Southeast,US,North America,2538667.25,3925071.43

In [29]:
Customers.head()

   CustomerID  SalesTerritoryID FirstName LastName        City   StateName
0       10101                 1      John     Gray      Lynden  Washington
1       10298                 4     Leroy    Brown     Pinetop     Arizona
2       10299                 1     Elroy   Keller  Snoqualmie  Washington
3       10315                 3      Lisa    Jones     Oshkosh   Wisconsin
4       10325                 1    Ginger  Schultz   Pocatello       Idaho

In [30]:
Orders.head()

   CustomerID  OrderDate        Item  Quantity   Price
0       10330 2004-06-30  Pogo stick         1    28.0
1       10101 2004-06-30        Raft         1    58.0
2       10298 2004-07-01  Skateboard         1    33.0
3       10101 2004-07-01   Life Vest         4   125.0
4       10299 2004-07-06   Parachute         1  1250.0

Let's construct a slightly artificial example. Suppose that AdventureWorks was formed by merging two companies, AdventuresUSA which operated in the US and AdventuresWorld, which operated in other countries. Now we want information on their combined sales territories. 

The Pandas "concat" function is good for stacking tables on top of each other. We will use it to combine the AdventuresUSA and AdventuresWorld territories data tables.

In [31]:
help(pd.concat)

Help on function concat in module pandas.tools.merge:

concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes. Can also add a layer of hierarchical indexing on the
    concatenation axis, which may be useful if the labels are the same (or
    overlapping) on the passed axis number

    Parameters
    ----------
    objs : a sequence or mapping of Series, DataFrame, or Panel objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised
    axis : {0, 1, ...}, default 0
        The axis to concatenate along
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis(es)
    join_axes : list of Index objects
        Specific indexes to use for the other n - 1 axes instead of performing
        inner/outer set logic
    verify_integrity : boolean, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys
    names : list, default None
        Names for the levels in the resulting hierarchical index
    ignore_index : boolean, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    copy : boolean, default True
        If False, do not copy data unnecessarily

    Notes
    -----
    The keys, levels, and names arguments are all optional

    Returns
    -------
    concatenated : type of objects

In [32]:
# constructing the territory tables... as noted, this is an artificial example
TerritoryUSA = Territory[Territory.CountryCode=='US']; TerritoryUSA['RepID'] = np.random.randint(1,1000,5)
TerritoryWorld = Territory[Territory.CountryCode!='US']

/usr/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [33]:
TerritoryUSA

,TerritoryID,Name,CountryCode,Region,SalesYTD,SalesLastYear,RepID
0,1,Northwest,US,North America,7887186.79,3298694.49,484
1,2,Northeast,US,North America,2402176.85,3607148.94,323
2,3,Central,US,North America,3072175.12,3205014.08,486
3,4,Southwest,US,North America,10510853.87,5366575.71,617
4,5,Southeast,US,North America,2538667.25,3925071.43,572

In [34]:
TerritoryWorld

,TerritoryID,Name,CountryCode,Region,SalesYTD,SalesLastYear
5,6,Canada,CA,North America,6771829.14,5693988.860
6,7,France,FR,Europe,4772398.31,2396539.760
7,8,Germany,DE,Europe,3805202.35,1307949.790
8,9,Australia,AU,Pacific,5977814.92,2278548.980
9,10,United Kingdom,GB,Europe,5012905.37,1635823.400
10,11,Brazil,BR,South America,0.00,261589.958
11,12,Mexico,MX,North America,0.00,0.000

In [35]:
# we'll concatenate the databases, but keep separate keys so that we can keep track of which entries came from AdventuresUSA and 
# which from AdventuresWorld.
# We'll use "join='inner'" to only keep colunms that are common to both tables; 
# that is, we will drop the no-longer needed RepID in AdventuresUSA. 
Territory2 = pd.concat([TerritoryUSA, TerritoryWorld], keys=['usa', 'world'], join='inner')

In [36]:
Territory2

          TerritoryID            Name CountryCode         Region     SalesYTD  \
usa   0             1       Northwest          US  North America   7887186.79
      1             2       Northeast          US  North America   2402176.85
      2             3         Central          US  North America   3072175.12
      3             4       Southwest          US  North America  10510853.87
      4             5       Southeast          US  North America   2538667.25
world 5             6          Canada          CA  North America   6771829.14
      6             7          France          FR         Europe   4772398.31
      7             8         Germany          DE         Europe   3805202.35
      8             9       Australia          AU        Pacific   5977814.92
      9            10  United Kingdom          GB         Europe   5012905.37
      10           11          Brazil          BR  South America         0.00
      11           12          Mexico          MX  North America         0.00

          SalesLastYear
usa   0     3298694.490
      1     3607148.940
      2     3205014.080
      3     5366575.710
      4     3925071.430
world 5     5693988.860
      6     2396539.760
      7     1307949.790
      8     2278548.980
      9     1635823.400
      10     261589.958
      11          0.000

Pandas "append" behaves just like "concat" with axis=0 and join='outer' (i.e., keep all column names). Missing values are set to NaN.

In [37]:
help(pd.DataFrame.append)

Help on function append in module pandas.core.frame:

append(self, other, ignore_index=False, verify_integrity=False)
    Append rows of `other` to the end of this frame, returning a new
    object. Columns not in this frame are added as new columns.

    Parameters
    ----------
    other : DataFrame or Series/dict-like object, or list of these
        The data to append.
    ignore_index : boolean, default False
        If True, do not use the index labels.
    verify_integrity : boolean, default False
        If True, raise ValueError on creating index with duplicates.

    Returns
    -------
    appended : DataFrame

    Notes
    -----
    If a list of dict/series is passed and the keys are all contained in
    the DataFrame's index, the order of the columns in the resulting
    DataFrame will be unchanged.

    See also
    --------
    pandas.concat : General function to concatenate DataFrame, Series
        or Panel objects

    Examples
    --------

    >>> df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
    >>> df
       A  B
    0  1  2
    1  3  4
    >>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
    >>> df.append(df2)
       A  B
    0  1  2
    1  3  4
    0  5  6
    1  7  8

    With `ignore_index` set to True:

    >>> df.append(df2, ignore_index=True)
       A  B
    0  1  2
    1  3  4
    2  5  6
    3  7  8

In [38]:
Territory3 = TerritoryUSA.append(TerritoryWorld)

In [39]:
Territory3

,CountryCode,Name,Region,RepID,SalesLastYear,SalesYTD,TerritoryID
0,US,Northwest,North America,484.0,3298694.490,7887186.79,1
1,US,Northeast,North America,323.0,3607148.940,2402176.85,2
2,US,Central,North America,486.0,3205014.080,3072175.12,3
3,US,Southwest,North America,617.0,5366575.710,10510853.87,4
4,US,Southeast,North America,572.0,3925071.430,2538667.25,5
5,CA,Canada,North America,NaN,5693988.860,6771829.14,6
6,FR,France,Europe,NaN,2396539.760,4772398.31,7
7,DE,Germany,Europe,NaN,1307949.790,3805202.35,8
8,AU,Australia,Pacific,NaN,2278548.980,5977814.92,9
9,GB,United Kingdom,Europe,NaN,1635823.400,5012905.37,10
10,BR,Brazil,South America,NaN,261589.958,0.00,11
11,MX,Mexico,North America,NaN,0.000,0.00,12

# Joining and merging tables in Pandas

Join and merge are powerful tools for working with multiple tables. We will use them to answer some questions about the
AdventureWorks dataset that you might encounter in real-life situations.

Join does fast table joining on a shared index. 
Merge does the same thing, but gives you the option to specify columns to join on. 
The idea of joining on a column will become clearer with some examples.

## Example 1. "I want a list of all employees, and if any are salespeople then show me the details about their sales territory"

From AdventureWorks, we have a table "Employees" that gives a lot of information about AdventureWorks employees, like 'EmployeeID', 'ManagerID', 'TerritoryID', 'Title', 'FirstName','MiddleName', 'LastName', 'Suffix', 'JobTitle', 'NationalIDNumber', 'BirthDate', 'MaritalStatus', 'Gender', 'HireDate', 'SalariedFlag', 'VacationHours', 'SickLeaveHours', 'PhoneNumber', 'PhoneNumberType', 'EmailAddress', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'PostalCode', 'CountryName'. \

Since we're just being asked for a list of employees, we'll give the EmployeeID and their first, middle, and last names, and their role in the company (since additional information is requested for salespeople only). Then, for the salespeople, we must attach information about their sales territories, which is contained in the Territories table. 

Notice that the Employees table has a column 'TerritoryID', which corresponds to the primary key in the 'Territory' table (in 'Territory', each territory has a _unique_ 'TerritoryID'). We'll do a join on TerritoryID.

In [40]:
help(pd.merge)

Help on function merge in module pandas.tools.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.

    If joining columns on columns, the DataFrame indexes *will be
    ignored*. Otherwise if joining indexes on indexes or indexes on a column or
    columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        * left: use only keys from left frame (SQL: left outer join)
        * right: use only keys from right frame (SQL: right outer join)
        * outer: use union of keys from both frames (SQL: full outer join)
        * inner: use intersection of keys from both frames (SQL: inner join)
    on : label or list
        Field names to join on. Must be found in both DataFrames. If on is
        None and not merging on indexes, then it merges on the intersection of
        the columns by default.
    left_on : label or list, or array-like
        Field names to join on in left DataFrame. Can be a vector or list of
        vectors of the length of the DataFrame to use a particular vector as
        the join key instead of columns
    right_on : label or list, or array-like
        Field names to join on in right DataFrame or vector/list of vectors per
        left_on docs
    left_index : boolean, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels
    right_index : boolean, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index
    sort : boolean, default False
        Sort the join keys lexicographically in the result DataFrame
    suffixes : 2-length sequence (tuple, list, ...)
        Suffix to apply to overlapping column names in the left and right
        side, respectively
    copy : boolean, default True
        If False, do not copy data unnecessarily
    indicator : boolean or string, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

        .. versionadded:: 0.17.0

    Examples
    --------

    >>> A              >>> B
        lkey value         rkey value
    0   foo  1         0   foo  5
    1   bar  2         1   bar  6
    2   baz  3         2   qux  7
    3   foo  4         3   bar  8

    >>> A.merge(B, left_on='lkey', right_on='rkey', how='outer')
       lkey  value_x  rkey  value_y
    0  foo   1        foo   5
    1  foo   4        foo   5
    2  bar   2        bar   6
    3  bar   2        bar   8
    4  baz   3        NaN   NaN
    5  NaN   NaN      qux   7

    Returns
    -------
    merged : DataFrame
        The output type will the be same as 'left', if it is a subclass
        of DataFrame.

In [66]:
Ans = pd.merge(Employees.loc[:,["EmployeeID","FirstName","MiddleName","LastName","JobTitle","TerritoryID"]], 
               Territory, 
               how='left', on='TerritoryID')
Ans.head()

,EmployeeID,FirstName,MiddleName,LastName,JobTitle,TerritoryID,Name,CountryCode,Region,SalesYTD,SalesLastYear
0,259,Ben,T,Miller,Buyer,NaN,NaN,NaN,NaN,NaN,NaN
1,278,Garrett,R,Vargas,Sales Representative,6.0,Canada,CA,North America,6771829.14,5693988.86
2,204,Gabe,B,Mares,Production Technician - WC40,NaN,NaN,NaN,NaN,NaN,NaN
3,78,Reuben,H,D'sa,Production Supervisor - WC40,NaN,NaN,NaN,NaN,NaN,NaN
4,255,Gordon,L,Hee,Buyer,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
X = Ans[["FirstName","MiddleName","LastName"]]

In [72]:
Ans['EmployeeName'] = X.apply(lambda x: x.LastName+", "+x.FirstName+" "+str(x.MiddleName), axis=1)

In [73]:
Ans

,EmployeeID,FirstName,MiddleName,LastName,JobTitle,TerritoryID,Name,CountryCode,Region,SalesYTD,SalesLastYear,EmployeeName
0,259,Ben,T,Miller,Buyer,NaN,NaN,NaN,NaN,NaN,NaN,"Miller, Ben T"
1,278,Garrett,R,Vargas,Sales Representative,6.0,Canada,CA,North America,6771829.14,5693988.86,"Vargas, Garrett R"
2,204,Gabe,B,Mares,Production Technician - WC40,NaN,NaN,NaN,NaN,NaN,NaN,"Mares, Gabe B"
3,78,Reuben,H,D'sa,Production Supervisor - WC40,NaN,NaN,NaN,NaN,NaN,NaN,"D'sa, Reuben H"
4,255,Gordon,L,Hee,Buyer,NaN,NaN,NaN,NaN,NaN,NaN,"Hee, Gordon L"
5,66,Karan,R,Khanna,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN,"Khanna, Karan R"
6,270,François,P,Ajenstat,Database Administrator,NaN,NaN,NaN,NaN,NaN,NaN,"Ajenstat, François P"
7,22,Sariya,E,Harnpadoungsataya,Marketing Specialist,NaN,NaN,NaN,NaN,NaN,NaN,"Harnpadoungsataya, Sariya E"
8,161,Kirk,J,Koenigsbauer,Production Technician - WC45,NaN,NaN,NaN,NaN,NaN,NaN,"Koenigsbauer, Kirk J"
9,124,Kim,T,Ralls,Stocker,NaN,NaN,NaN,NaN,NaN,NaN,"Ralls, Kim T"
10,10,Michael,NaN,Raheem,Research and Development Manager,NaN,NaN,NaN,NaN,NaN,NaN,"Raheem, Michael nan"
11,248,Mike,K,Seamans,Accountant,NaN,NaN,NaN,NaN,NaN,NaN,"Seamans, Mike K"
12,175,Reed,T,Koch,Production Technician - WC30,NaN,NaN,NaN,NaN,NaN,NaN,"Koch, Reed T"
13,155,Fadi,K,Fakhouri,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN,"Fakhouri, Fadi K"
14,144,Paul,R,Singh,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN,"Singh, Paul R"
15,192,Brenda,M,Diaz,Production Supervisor - WC40,NaN,NaN,NaN,NaN,NaN,NaN,"Diaz, Brenda M"
16,166,Jack,S,Richins,Production Supervisor - WC30,NaN,NaN,NaN,NaN,NaN,NaN,"Richins, Jack S"
17,112,John,P,Evans,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN,"Evans, John P"
18,203,Ken,L,Myer,Production Technician - WC40,NaN,NaN,NaN,NaN,NaN,NaN,"Myer, Ken L"
19,245,Barbara,C,Moreland,Accountant,NaN,NaN,NaN,NaN,NaN,NaN,"Moreland, Barbara C"
20,257,Eric,S,Kurjan,Buyer,NaN,NaN,NaN,NaN,NaN,NaN,"Kurjan, Eric S"
21,244,Bryan,A,Walton,Accounts Receivable Specialist,NaN,NaN,NaN,NaN,NaN,NaN,"Walton, Bryan A"
22,69,Steve,F,Masters,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN,"Masters, Steve F"
23,210,Belinda,M,Newman,Production Technician - WC45,NaN,NaN,NaN,NaN,NaN,NaN,"Newman, Belinda M"
24,163,Alex,M,Nayberg,Production Technician - WC45,NaN,NaN,NaN,NaN,NaN,NaN,"Nayberg, Alex M"
25,118,Don,L,Hall,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN,"Hall, Don L"
26,176,David,Oliver,Lawrence,Production Technician - WC30,NaN,NaN,NaN,NaN,NaN,NaN,"Lawrence, David Oliver"
27,147,Sandra,NaN,Reátegui Alayo,Production Technician - WC30,NaN,NaN,NaN,NaN,NaN,NaN,"Reátegui Alayo, Sandra nan"
28,138,Samantha,H,Smith,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN,"Smith, Samantha H"
29,95,Jim,H,Scardelis,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN,"Scardelis, Jim H"
...,...,...,...,...,...,...,...,...,...,...,...,...
261,70,David,J,Ortiz,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN,"Ortiz, David J"
262,219,Sean,N,Chai,Document Control Assistant,NaN,NaN,NaN,NaN,NaN,NaN,"Chai, Sean N"
263,148,Jason,M,Watters,Production Technician - WC30,NaN,NaN,NaN,NaN,NaN,NaN,"Watters, Jason M"
264,140,Prasanna,E,Samarawickrama,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN,"Samarawickrama, Prasanna E"
265,290,Ranjit,R,Varkey Chudukatil,Sales Representative,7.0,France,FR,Europe,4772398.31,2396539.76,"Varkey Chudukatil, Ranjit R"
266,5,Gail,A,Erickson,Design Engineer,NaN,NaN,NaN,NaN,NaN,NaN,"Erickson, Gail A"
267,252,Arvind,B,Rao,Buyer,NaN,NaN,NaN,NaN,NaN,NaN,"Rao, Arvind B"
268,266,Peter,I,Connelly,Network Administrator,NaN,NaN,NaN,NaN,NaN,NaN,"Connelly, Peter I"
269,233,Magnus,E,Hedlund,Facilities Administrative Assistant,NaN,NaN,NaN,NaN,NaN,NaN,"Hedlund, Magnus E"
270,83,Patrick,M,Cook,Production Technician - WC40,NaN,NaN,NaN,NaN,NaN,NaN,"Cook, Patrick M"
271,251,Mikael,Q,Sandberg,Buyer,NaN,NaN,NaN,NaN,NaN,NaN,"Sandberg, Mikael Q"
272,241,David,J,Liu,Accounts Manager,NaN,NaN,NaN,NaN,NaN,NaN,"Liu, David J"
273,25,James,R,Hamilton,Vice President of Production,NaN,NaN,NaN,NaN,NaN,NaN,"Hamilton, James R"
274,108,Jinghao,K,Liu,Production Supervisor - WC50,NaN,NaN,NaN,NaN,NaN,NaN,"Liu, Jinghao K"
275,239,Mindy,C,Martin,Benefits Specialist,NaN,NaN,NaN,NaN,NaN,NaN,"Martin, Mindy C"
276,27,Jo,A,Brown,Production Supervisor - WC60,NaN,NaN,NaN,NaN,NaN,NaN,"Brown, Jo A"
277,186,Shane,S,Kim,Production Supervisor - WC45,NaN,NaN,NaN,NaN,NaN,NaN,"Kim, Shane S"
278,38,Kim,B,Abercrombie,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN,"Abercrombie, Kim B"
279,154,Raymond,K,Sam,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN,"Sam, Raymond K"
280,114,Mindaugas,J,Krapauskas,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN,"Krapauskas, Mindaugas J"
281,123,Vamsi,N,Kuppa,Shipping and Receiving Clerk,NaN,NaN,NaN,NaN,NaN,NaN,"Kuppa, Vamsi N"
282,29,Mark,K,McArthur,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN,"McArthur, Mark K"
283,101,Houman,N,Pournasseh,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN,"Pournasseh, Houman N"
284,221,Chris,K,Norred,Control Specialist,NaN,NaN,NaN,NaN,NaN,NaN,"Norred, Chris K"
285,18,John,L,Wood,Marketing Specialist,NaN,NaN,NaN,NaN,NaN,NaN,"Wood, John L"
286,46,Eugene,O,Kogan,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN,"Kogan, Eugene O"
287,202,Tawana,G,Nusbaum,Production Technician - WC40,NaN,NaN,NaN,NaN,NaN,NaN,"Nusbaum, Tawana G"
288,289,Jae,B,Pak,Sales Representative,10.0,United Kingdom,GB,Europe,5012905.37,1635823.40,"Pak, Jae B"
289,288,Rachel,B,Valdez,Sales Representative,8.0,Germany,DE,Europe,3805202.35,1307949.79,"Valdez, Rachel B"
290,999,Chadwick,NaN,Smith,BI Professor,NaN,NaN,NaN,NaN,NaN,NaN,"Smith, Chadwick nan"

In [42]:
# Overachiever answer:
Ans['EmployeeName'] = Ans[["FirstName","MiddleName","LastName"]].apply(lambda x: x.LastName+", "+x.FirstName+" "+str(x.MiddleName), axis=1)
Ans = Ans[['EmployeeName', 'EmployeeID', 'JobTitle', 'TerritoryID', 'Name', 'CountryCode', 'Region', 'SalesYTD', 'SalesLastYear']]
Ans

,EmployeeName,EmployeeID,JobTitle,TerritoryID,Name,CountryCode,Region,SalesYTD,SalesLastYear
0,"Miller, Ben T",259,Buyer,NaN,NaN,NaN,NaN,NaN,NaN
1,"Vargas, Garrett R",278,Sales Representative,6.0,Canada,CA,North America,6771829.14,5693988.86
2,"Mares, Gabe B",204,Production Technician - WC40,NaN,NaN,NaN,NaN,NaN,NaN
3,"D'sa, Reuben H",78,Production Supervisor - WC40,NaN,NaN,NaN,NaN,NaN,NaN
4,"Hee, Gordon L",255,Buyer,NaN,NaN,NaN,NaN,NaN,NaN
5,"Khanna, Karan R",66,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN
6,"Ajenstat, François P",270,Database Administrator,NaN,NaN,NaN,NaN,NaN,NaN
7,"Harnpadoungsataya, Sariya E",22,Marketing Specialist,NaN,NaN,NaN,NaN,NaN,NaN
8,"Koenigsbauer, Kirk J",161,Production Technician - WC45,NaN,NaN,NaN,NaN,NaN,NaN
9,"Ralls, Kim T",124,Stocker,NaN,NaN,NaN,NaN,NaN,NaN
10,"Raheem, Michael nan",10,Research and Development Manager,NaN,NaN,NaN,NaN,NaN,NaN
11,"Seamans, Mike K",248,Accountant,NaN,NaN,NaN,NaN,NaN,NaN
12,"Koch, Reed T",175,Production Technician - WC30,NaN,NaN,NaN,NaN,NaN,NaN
13,"Fakhouri, Fadi K",155,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN
14,"Singh, Paul R",144,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN
15,"Diaz, Brenda M",192,Production Supervisor - WC40,NaN,NaN,NaN,NaN,NaN,NaN
16,"Richins, Jack S",166,Production Supervisor - WC30,NaN,NaN,NaN,NaN,NaN,NaN
17,"Evans, John P",112,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN
18,"Myer, Ken L",203,Production Technician - WC40,NaN,NaN,NaN,NaN,NaN,NaN
19,"Moreland, Barbara C",245,Accountant,NaN,NaN,NaN,NaN,NaN,NaN
20,"Kurjan, Eric S",257,Buyer,NaN,NaN,NaN,NaN,NaN,NaN
21,"Walton, Bryan A",244,Accounts Receivable Specialist,NaN,NaN,NaN,NaN,NaN,NaN
22,"Masters, Steve F",69,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN
23,"Newman, Belinda M",210,Production Technician - WC45,NaN,NaN,NaN,NaN,NaN,NaN
24,"Nayberg, Alex M",163,Production Technician - WC45,NaN,NaN,NaN,NaN,NaN,NaN
25,"Hall, Don L",118,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN
26,"Lawrence, David Oliver",176,Production Technician - WC30,NaN,NaN,NaN,NaN,NaN,NaN
27,"Reátegui Alayo, Sandra nan",147,Production Technician - WC30,NaN,NaN,NaN,NaN,NaN,NaN
28,"Smith, Samantha H",138,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN
29,"Scardelis, Jim H",95,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
261,"Ortiz, David J",70,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN
262,"Chai, Sean N",219,Document Control Assistant,NaN,NaN,NaN,NaN,NaN,NaN
263,"Watters, Jason M",148,Production Technician - WC30,NaN,NaN,NaN,NaN,NaN,NaN
264,"Samarawickrama, Prasanna E",140,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN
265,"Varkey Chudukatil, Ranjit R",290,Sales Representative,7.0,France,FR,Europe,4772398.31,2396539.76
266,"Erickson, Gail A",5,Design Engineer,NaN,NaN,NaN,NaN,NaN,NaN
267,"Rao, Arvind B",252,Buyer,NaN,NaN,NaN,NaN,NaN,NaN
268,"Connelly, Peter I",266,Network Administrator,NaN,NaN,NaN,NaN,NaN,NaN
269,"Hedlund, Magnus E",233,Facilities Administrative Assistant,NaN,NaN,NaN,NaN,NaN,NaN
270,"Cook, Patrick M",83,Production Technician - WC40,NaN,NaN,NaN,NaN,NaN,NaN
271,"Sandberg, Mikael Q",251,Buyer,NaN,NaN,NaN,NaN,NaN,NaN
272,"Liu, David J",241,Accounts Manager,NaN,NaN,NaN,NaN,NaN,NaN
273,"Hamilton, James R",25,Vice President of Production,NaN,NaN,NaN,NaN,NaN,NaN
274,"Liu, Jinghao K",108,Production Supervisor - WC50,NaN,NaN,NaN,NaN,NaN,NaN
275,"Martin, Mindy C",239,Benefits Specialist,NaN,NaN,NaN,NaN,NaN,NaN
276,"Brown, Jo A",27,Production Supervisor - WC60,NaN,NaN,NaN,NaN,NaN,NaN
277,"Kim, Shane S",186,Production Supervisor - WC45,NaN,NaN,NaN,NaN,NaN,NaN
278,"Abercrombie, Kim B",38,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN
279,"Sam, Raymond K",154,Production Technician - WC20,NaN,NaN,NaN,NaN,NaN,NaN
280,"Krapauskas, Mindaugas J",114,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN
281,"Kuppa, Vamsi N",123,Shipping and Receiving Clerk,NaN,NaN,NaN,NaN,NaN,NaN
282,"McArthur, Mark K",29,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN
283,"Pournasseh, Houman N",101,Production Technician - WC50,NaN,NaN,NaN,NaN,NaN,NaN
284,"Norred, Chris K",221,Control Specialist,NaN,NaN,NaN,NaN,NaN,NaN
285,"Wood, John L",18,Marketing Specialist,NaN,NaN,NaN,NaN,NaN,NaN
286,"Kogan, Eugene O",46,Production Technician - WC60,NaN,NaN,NaN,NaN,NaN,NaN
287,"Nusbaum, Tawana G",202,Production Technician - WC40,NaN,NaN,NaN,NaN,NaN,NaN
288,"Pak, Jae B",289,Sales Representative,10.0,United Kingdom,GB,Europe,5012905.37,1635823.40
289,"Valdez, Rachel B",288,Sales Representative,8.0,Germany,DE,Europe,3805202.35,1307949.79
290,"Smith, Chadwick nan",999,BI Professor,NaN,NaN,NaN,NaN,NaN,NaN

### "For the list above, limit the results to just salespeople"

In [43]:
Ans2 = Ans[Ans.JobTitle=='Sales Representative']
Ans2

,EmployeeName,EmployeeID,JobTitle,TerritoryID,Name,CountryCode,Region,SalesYTD,SalesLastYear
1,"Vargas, Garrett R",278,Sales Representative,6.0,Canada,CA,North America,6771829.14,5693988.86
54,"Campbell, David R",283,Sales Representative,1.0,Northwest,US,North America,7887186.79,3298694.49
63,"Mitchell, Linda C",276,Sales Representative,4.0,Southwest,US,North America,10510853.87,5366575.71
93,"Tsoflias, Lynn N",286,Sales Representative,9.0,Australia,AU,Pacific,5977814.92,2278548.98
114,"Mensa-Annan, Tete A",284,Sales Representative,1.0,Northwest,US,North America,7887186.79,3298694.49
163,"Ito, Shu K",281,Sales Representative,4.0,Southwest,US,North America,10510853.87,5366575.71
176,"Ansman-Wolfe, Pamela O",280,Sales Representative,1.0,Northwest,US,North America,7887186.79,3298694.49
230,"Carson, Jillian nan",277,Sales Representative,3.0,Central,US,North America,3072175.12,3205014.08
235,"Blythe, Michael G",275,Sales Representative,2.0,Northeast,US,North America,2402176.85,3607148.94
240,"Reiter, Tsvi Michael",279,Sales Representative,5.0,Southeast,US,North America,2538667.25,3925071.43
256,"Saraiva, José Edvaldo",282,Sales Representative,6.0,Canada,CA,North America,6771829.14,5693988.86
265,"Varkey Chudukatil, Ranjit R",290,Sales Representative,7.0,France,FR,Europe,4772398.31,2396539.76
288,"Pak, Jae B",289,Sales Representative,10.0,United Kingdom,GB,Europe,5012905.37,1635823.40
289,"Valdez, Rachel B",288,Sales Representative,8.0,Germany,DE,Europe,3805202.35,1307949.79

In [44]:
# Overachiever: What about *all* employees associated with sales?
Ans2 = Ans[Ans["JobTitle"].apply(lambda x: 'Sales' in x)]
Ans2

,EmployeeName,EmployeeID,JobTitle,TerritoryID,Name,CountryCode,Region,SalesYTD,SalesLastYear
1,"Vargas, Garrett R",278,Sales Representative,6.0,Canada,CA,North America,6771829.14,5693988.86
54,"Campbell, David R",283,Sales Representative,1.0,Northwest,US,North America,7887186.79,3298694.49
59,"Jiang, Stephen Y",274,North American Sales Manager,NaN,NaN,NaN,NaN,NaN,NaN
63,"Mitchell, Linda C",276,Sales Representative,4.0,Southwest,US,North America,10510853.87,5366575.71
93,"Tsoflias, Lynn N",286,Sales Representative,9.0,Australia,AU,Pacific,5977814.92,2278548.98
114,"Mensa-Annan, Tete A",284,Sales Representative,1.0,Northwest,US,North America,7887186.79,3298694.49
135,"Alberts, Amy E",287,European Sales Manager,NaN,NaN,NaN,NaN,NaN,NaN
163,"Ito, Shu K",281,Sales Representative,4.0,Southwest,US,North America,10510853.87,5366575.71
176,"Ansman-Wolfe, Pamela O",280,Sales Representative,1.0,Northwest,US,North America,7887186.79,3298694.49
212,"Abbas, Syed E",285,Pacific Sales Manager,NaN,NaN,NaN,NaN,NaN,NaN
222,"Welcker, Brian S",273,Vice President of Sales,NaN,NaN,NaN,NaN,NaN,NaN
230,"Carson, Jillian nan",277,Sales Representative,3.0,Central,US,North America,3072175.12,3205014.08
235,"Blythe, Michael G",275,Sales Representative,2.0,Northeast,US,North America,2402176.85,3607148.94
240,"Reiter, Tsvi Michael",279,Sales Representative,5.0,Southeast,US,North America,2538667.25,3925071.43
256,"Saraiva, José Edvaldo",282,Sales Representative,6.0,Canada,CA,North America,6771829.14,5693988.86
265,"Varkey Chudukatil, Ranjit R",290,Sales Representative,7.0,France,FR,Europe,4772398.31,2396539.76
288,"Pak, Jae B",289,Sales Representative,10.0,United Kingdom,GB,Europe,5012905.37,1635823.40
289,"Valdez, Rachel B",288,Sales Representative,8.0,Germany,DE,Europe,3805202.35,1307949.79

## "Give me a list of our customers, and also tell me which sales territory they fall in."

This looks like another question for "merge"! We have a list of customers with their addresses, and we have a list of territories, but they are in separate tables. 

Let's recover a list of customer names and IDs, together with corresponding sales territory names.

This time, we have to be careful, because "TerritoryID" in the Territory table matches "SalesTerritoryID" in the table Customers. So, we'll have to specify different columns names to merge on for the two tables.

In [45]:
Ans3 = pd.merge(Customers[["CustomerID","FirstName","LastName","SalesTerritoryID"]], 
                Territory[["TerritoryID","Name"]], 
                how='left', 
                left_on='SalesTerritoryID', right_on='TerritoryID', )
Ans3

    CustomerID FirstName  LastName  SalesTerritoryID  TerritoryID       Name
0        10101      John      Gray                 1            1  Northwest
1        10298     Leroy     Brown                 4            4  Southwest
2        10299     Elroy    Keller                 1            1  Northwest
3        10315      Lisa     Jones                 3            3    Central
4        10325    Ginger   Schultz                 1            1  Northwest
5        10329     Kelly   Mendoza                 5            5  Southeast
6        10330     Shawn    Dalton                 1            1  Northwest
7        10338   Michael    Howell                 1            1  Northwest
8        10339   Anthony   Sanchez                 4            4  Southwest
9        10408     Elroy   Cleaver                 4            4  Southwest
10       10410  Mary Ann    Howell                 5            5  Southeast
11       10413    Donald    Davids                 4            4  Southwest
12       10419     Linda  Sakahara                 4            4  Southwest
13       10429     Sarah    Graham                 5            5  Southeast
14       10438     Kevin     Smith                 3            3    Central
15       10439    Conrad     Giles                 3            3    Central
16       10449   Isabela     Moore                 4            4  Southwest

## "Give me a list of all sales territories, also show what customers fall under them"

In [46]:
Ans = pd.merge(Territory, Customers, how="inner", left_on="TerritoryID", right_on="SalesTerritoryID")

In [47]:
Ans

,TerritoryID,Name,CountryCode,Region,SalesYTD,SalesLastYear,CustomerID,SalesTerritoryID,FirstName,LastName,City,StateName
0,1,Northwest,US,North America,7887186.79,3298694.49,10101,1,John,Gray,Lynden,Washington
1,1,Northwest,US,North America,7887186.79,3298694.49,10299,1,Elroy,Keller,Snoqualmie,Washington
2,1,Northwest,US,North America,7887186.79,3298694.49,10325,1,Ginger,Schultz,Pocatello,Idaho
3,1,Northwest,US,North America,7887186.79,3298694.49,10330,1,Shawn,Dalton,Cannon Beach,Oregon
4,1,Northwest,US,North America,7887186.79,3298694.49,10338,1,Michael,Howell,Tillamook,Oregon
5,3,Central,US,North America,3072175.12,3205014.08,10315,3,Lisa,Jones,Oshkosh,Wisconsin
6,3,Central,US,North America,3072175.12,3205014.08,10438,3,Kevin,Smith,Durango,Colorado
7,3,Central,US,North America,3072175.12,3205014.08,10439,3,Conrad,Giles,Telluride,Colorado
8,4,Southwest,US,North America,10510853.87,5366575.71,10298,4,Leroy,Brown,Pinetop,Arizona
9,4,Southwest,US,North America,10510853.87,5366575.71,10339,4,Anthony,Sanchez,Winslow,Arizona
10,4,Southwest,US,North America,10510853.87,5366575.71,10408,4,Elroy,Cleaver,Globe,Arizona
11,4,Southwest,US,North America,10510853.87,5366575.71,10413,4,Donald,Davids,Gila Bend,Arizona
12,4,Southwest,US,North America,10510853.87,5366575.71,10419,4,Linda,Sakahara,Nogales,Arizona
13,4,Southwest,US,North America,10510853.87,5366575.71,10449,4,Isabela,Moore,Yuma,Arizona
14,5,Southeast,US,North America,2538667.25,3925071.43,10329,5,Kelly,Mendoza,Kailua,Hawaii
15,5,Southeast,US,North America,2538667.25,3925071.43,10410,5,Mary Ann,Howell,Charleston,South Carolina
16,5,Southeast,US,North America,2538667.25,3925071.43,10429,5,Sarah,Graham,Greensboro,North Carolina

## "Give me a list of the customers we have in North Carolina, and tell me how many there are."

In [109]:
# In-class exercise! :)

In [49]:
ListNC = Customers[Customers.StateName=='North Carolina']
ListNC

,CustomerID,SalesTerritoryID,FirstName,LastName,City,StateName
13,10429,5,Sarah,Graham,Greensboro,North Carolina

In [51]:
ListNC.CustomerID.count()

1

In [53]:
Customers = Customers.set_index("StateName")
Customers.loc['North Carolina']

CustomerID               10429
SalesTerritoryID             5
FirstName                Sarah
LastName                Graham
City                Greensboro
Name: North Carolina, dtype: object

## "For each of the items ordered, show the total price (sometimes they ordered more than 1 item)"

In [113]:
# We'll use the Orders table for this! In-class exercise :)

In [54]:
Orders["TotalItemPrice"] = Orders.Quantity * Orders.Price
Orders.head()

   CustomerID  OrderDate        Item  Quantity   Price  TotalItemPrice
0       10330 2004-06-30  Pogo stick         1    28.0            28.0
1       10101 2004-06-30        Raft         1    58.0            58.0
2       10298 2004-07-01  Skateboard         1    33.0            33.0
3       10101 2004-07-01   Life Vest         4   125.0           500.0
4       10299 2004-07-06   Parachute         1  1250.0          1250.0

In [55]:
Orders.groupby(["CustomerID","OrderDate"]).TotalItemPrice.sum()

CustomerID  OrderDate
10101       2004-06-30 00:00:00.000      58.00
            2004-07-01 00:00:00.000     500.00
            2004-08-18 00:00:00.000      18.30
            2004-12-30 00:00:00.000      44.25
            2005-01-02 00:00:00.000      16.00
            2005-03-08 00:00:00.000     177.40
10298       2004-07-01 00:00:00.000      33.00
            2004-09-19 00:00:00.000      58.00
            2004-12-01 00:00:00.000      22.00
            2005-03-18 00:00:00.000      22.38
            2005-04-01 00:00:00.000      12.50
10299       2004-07-06 00:00:00.000    1250.00
            2005-01-18 00:00:00.000      38.00
10315       2005-02-02 00:00:00.000       8.00
10330       2004-06-30 00:00:00.000      28.00
            2005-01-01 00:00:00.000     112.00
            2005-12-31 23:59:59.997      16.75
10339       2004-07-27 00:00:00.000       4.50
10410       2004-10-28 00:00:00.000      89.22
            2005-01-30 00:00:00.000     192.50
10413       2005-01-19 00:00:00.000     128.00
10438       2004-11-01 00:00:00.000       6.75
            2004-11-02 00:00:00.000       8.50
            2005-01-18 00:00:00.000      79.99
10439       2004-08-14 00:00:00.000      51.00
            2004-09-18 00:00:00.000      88.00
10449       2004-08-13 00:00:00.000     180.79
            2004-09-01 00:00:00.000      45.00
            2004-12-15 00:00:00.000     380.50
            2004-12-22 00:00:00.000     280.00
            2005-02-28 00:00:00.000       4.50
            2005-03-19 00:00:00.000      80.00
Name: TotalItemPrice, dtype: float64

## "Show a list of customers, and the total amount of money they have spent with AdventureWorks. I want the highest spenders to appear first!"

In [114]:
# In-class exercise! :)

In [56]:
Ans_1 = pd.merge(Customers[["CustomerID","FirstName","LastName"]], Orders[["CustomerID","TotalItemPrice"]], how="inner", on="CustomerID" )

In [57]:
Ans_1

    CustomerID FirstName LastName  TotalItemPrice
0        10101      John     Gray           58.00
1        10101      John     Gray          500.00
2        10101      John     Gray           18.30
3        10101      John     Gray           44.25
4        10101      John     Gray           16.00
5        10101      John     Gray          177.40
6        10298     Leroy    Brown           33.00
7        10298     Leroy    Brown           58.00
8        10298     Leroy    Brown           22.00
9        10298     Leroy    Brown           22.38
10       10298     Leroy    Brown           12.50
11       10299     Elroy   Keller         1250.00
12       10299     Elroy   Keller           38.00
13       10315      Lisa    Jones            8.00
14       10330     Shawn   Dalton           28.00
15       10330     Shawn   Dalton          112.00
16       10330     Shawn   Dalton           16.75
17       10339   Anthony  Sanchez            4.50
18       10410  Mary Ann   Howell           89.22
19       10410  Mary Ann   Howell          192.50
20       10413    Donald   Davids          128.00
21       10438     Kevin    Smith            6.75
22       10438     Kevin    Smith            8.50
23       10438     Kevin    Smith           79.99
24       10439    Conrad    Giles           51.00
25       10439    Conrad    Giles           88.00
26       10449   Isabela    Moore          180.79
27       10449   Isabela    Moore           45.00
28       10449   Isabela    Moore          380.50
29       10449   Isabela    Moore          280.00
30       10449   Isabela    Moore            4.50
31       10449   Isabela    Moore           80.00

In [82]:
pd.DataFrame(Ans_1.groupby("CustomerID").TotalItemPrice.sum())

ValueError: Length mismatch: Expected axis has 11 elements, new values have 32 elements

In [91]:
Ans_1a = Ans_1[["FirstName","LastName","CustomerID"]].set_index("CustomerID")
Ans_1b = Ans_1a[Ans_1a.duplicated()==False]

In [92]:
Ans_2 = pd.DataFrame(Ans_1.groupby("CustomerID").TotalItemPrice.sum()).join(Ans_1b)

In [95]:
Ans_2.sort_values("TotalItemPrice", ascending=False)

            TotalItemPrice FirstName LastName
CustomerID
10299              1288.00     Elroy   Keller
10449               970.79   Isabela    Moore
10101               813.95      John     Gray
10410               281.72  Mary Ann   Howell
10330               156.75     Shawn   Dalton
10298               147.88     Leroy    Brown
10439               139.00    Conrad    Giles
10413               128.00    Donald   Davids
10438                95.24     Kevin    Smith
10315                 8.00      Lisa    Jones
10339                 4.50   Anthony  Sanchez

In [84]:
Ans_2.sort_values(ascending=False)

TypeError: sort_values() missing 1 required positional argument: 'by'

In [75]:
Territory.apply(max, axis=0)

TerritoryID                  12
Name             United Kingdom
CountryCode                  US
Region            South America
SalesYTD            1.05109e+07
SalesLastYear       5.69399e+06
dtype: object

# Another side note:

In [10]:
help(pd.DataFrame.combine_first)

Help on function combine_first in module pandas.core.frame:

combine_first(self, other)
    Combine two DataFrame objects and default to non-null values in frame
    calling the method. Result index columns will be the union of the
    respective indexes and columns

    Parameters
    ----------
    other : DataFrame

    Examples
    --------
    a's values prioritized, use values from b to fill holes:

    >>> a.combine_first(b)


    Returns
    -------
    combined : DataFrame

In [11]:
help(pd.DataFrame.update)

Help on function update in module pandas.core.frame:

update(self, other, join='left', overwrite=True, filter_func=None, raise_conflict=False)
    Modify DataFrame in place using non-NA values from passed
    DataFrame. Aligns on indices

    Parameters
    ----------
    other : DataFrame, or object coercible into a DataFrame
    join : {'left'}, default 'left'
    overwrite : boolean, default True
        If True then overwrite values for common keys in the calling frame
    filter_func : callable(1d-array) -> 1d-array<boolean>, default None
        Can choose to replace values other than NA. Return True for values
        that should be updated
    raise_conflict : boolean
        If True, will raise an error if the DataFrame and other both
        contain data in the same place.

In [118]:

Customers

,CustomerID,SalesTerritoryID,FirstName,LastName,City,StateName
0,10101,1,John,Gray,Lynden,Washington
1,10298,4,Leroy,Brown,Pinetop,Arizona
2,10299,1,Elroy,Keller,Snoqualmie,Washington
3,10315,3,Lisa,Jones,Oshkosh,Wisconsin
4,10325,1,Ginger,Schultz,Pocatello,Idaho
5,10329,5,Kelly,Mendoza,Kailua,Hawaii
6,10330,1,Shawn,Dalton,Cannon Beach,Oregon
7,10338,1,Michael,Howell,Tillamook,Oregon
8,10339,4,Anthony,Sanchez,Winslow,Arizona
9,10408,4,Elroy,Cleaver,Globe,Arizona
10,10410,5,Mary Ann,Howell,Charleston,South Carolina
11,10413,4,Donald,Davids,Gila Bend,Arizona
12,10419,4,Linda,Sakahara,Nogales,Arizona
13,10429,5,Sarah,Graham,Greensboro,North Carolina
14,10438,3,Kevin,Smith,Durango,Colorado
15,10439,3,Conrad,Giles,Telluride,Colorado
16,10449,4,Isabela,Moore,Yuma,Arizona