# Tables --- Data Frames

![SQL History](http://1.bp.blogspot.com/-TSHXgRINTU4/VPakcc4zatI/AAAAAAAAAC0/pPh9e8lcMzQ/s1600/SQL-History.png)

# SELECT Statement

![SELECT](http://cdn.ttgtmedia.com/digitalguide/images/Misc/casq_1.jpg)

<pre>
SELECT e.EmployeeID, e.FirstName, e.LastName
FROM Employees
WHERE e.HireingDate BETWEEN '2010-1-1' AND '2015-12-31'
</pre>

# Grouping
![Grouping](http://www.w3resource.com/sql/sql-root-images/group-by.gif)

# Joining Tables
![JOINS](http://i.imgur.com/hhRDO4d.png)